; Quantumult X rewrite remote resource for YouTube.
; Import as a QX rewrite resource. Do not run this file through a Surge parser.
; IMPORTANT: add `udp_drop_list = QUIC` to the main profile [general] manually.
; If [general] already has udp_drop_list, merge QUIC into the existing value.

hostname = *.googlevideo.com, youtubei.googleapis.com, youtubei-att.googleapis.com

^https:\/\/youtubei(?:-att)?\.googleapis\.com\/youtubei\/v1\/(browse|next|player|search|reel\/reel_watch_sequence|guide|account\/get_setting|get_watch)(\?(.*))?$ url script-response-body https://raw.githubusercontent.com/bensontech1014/Quantumult-X-script/main/Script/Youtube/youtube.response.js
^https?:\/\/[\w-]+\.googlevideo\.com\/initplayback.+&oad url reject-200
